.contenedor-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-inicio {
    color: white !important;
}

.btn-inicio:hover {
    color: rgb(36, 36, 36) !important;
    background-color: white;
}

.menu-inicio {
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: initial;
}

.menu-sesion {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: initial;
}

.btn-sesion-i {
    color: rgb(36, 36, 36) !important;
    background-color: white;
    border: solid 0.5px white;
}

.btn-sesion-r {
    color: white !important;
    border: solid 0.5px white;
    background-color: transparent;
    margin-right: 10px;
}